ion-card  {
    // --background: url("../../../assets/PartnerPics/hoppipolaCropped.jpg");
     border-radius: .5em;
     margin-left: 10px;
     margin-right: 10px;
     margin-inline-start: 15px;
     margin-inline-end: 15px;
     height:150px;
     margin-bottom: 20px;
     background-size: contain;
     opacity: 0.8;
     width: 300px;

 }
