<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-family: 'Montserrat Regular'">
      FAQ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="expandItem(faq)" *ngFor="let faq of faqs">
    <ion-card-header>
      <ion-card-title style="font-family: 'Montserrat Regular'; font-size: 15px; font-weight: 900">{{faq.title}}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <app-expandable expandHeight="650px" [expanded]="faq.expanded">
        <ion-item *ngFor="let subtitle of faq.subtitles" lines="none">
          {{subtitle.subtitleHeading}}<br /> <br />
          {{subtitle.answer}} <br /><br />
        </ion-item>
      </app-expandable>
    </ion-card-content>
  </ion-card>
  <ion-button color="light" style="margin: 10px;" (click)="callSupport()">
    <ion-icon name="call"></ion-icon> &nbsp; Call Support
  </ion-button>

</ion-content>