ion-card  {
   // --background: url("../../../assets/PartnerPics/hoppipolaCropped.jpg");
    border-radius: .5em;
    margin-left: 10px;
    margin-right: 10px;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    height:150px;
    background-size: contain;
    opacity: 0.8;

    ion-card-header {
        padding-top: .6em;
        all: revert;
        padding-bottom: .6em;
        border-bottom: 1px solid var(--ion-color-primary-tint);
    }


}

.card-content{
    
    font-size: 40px;
    font-weight: bolder;
    color:black;
    opacity: 1;
    text-align: center;
}