<!-- <ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid style="padding: 0px; background-color: #f4f5f0;">
    <ion-row style="padding: 10px; ">
      <ion-col size="2">
        <ion-avatar>
          <img src="../../../assets/dp.jpg">
        </ion-avatar>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="9">
        <ion-label style="font-size: 20px">{{user.userName}}</ion-label> <br />
        <ion-label style="font-size: 15px">{{user.userMailId}}</ion-label><br />
        <ion-label style="font-size: 15px">+91-{{user.userPhoneNum}}</ion-label>

      </ion-col>

    </ion-row>
  </ion-grid>


  <ion-list>
    <ion-item>
      You are at Hyderabad
    </ion-item>
    <ion-item routerLink="/tabs/history">
      Purchase History
    </ion-item>
    <ion-item routerLink="/tabs/support">
      Support
    </ion-item>
    <ion-item routerLink="/tabs/settings">
      Settings
    </ion-item>
  </ion-list>
  <!-- <h2> {{user.userName}}</h2>
  <h2> {{user.userMailId}}</h2>
  <h2> {{user.userPhoneNum}}</h2> -->


</ion-content>