<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="beer"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dispense">
      <ion-icon src="../../../assets/icons/dispense.svg"></ion-icon>
      <ion-label>Dispense</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="offers">
      <ion-icon src="../../../assets/icons/offer.svg"></ion-icon>
      <ion-label>Offers</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>