<ion-header>
  <ion-toolbar>
    <ion-title>{{partnerDetails.partnerName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-beverage-item *ngFor="let beverageItem of partnerDetails.beveragesServed" (addBevToCart)='addToCart($event)'
    [beverageItem]="beverageItem">

  </app-beverage-item>

  <app-order-details [addedBeverages]="cartBeverages"  (deleteItemFromCart)="deleteItemFromCart($event)"></app-order-details>
  <h2>
    Total Amount: {{totalAmount}}
  </h2>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <h2>
      Total Amount: {{totalAmount}}
    </h2>
    <ion-button (click)="navigateToBuy()" expand="full" shape="round">Buy</ion-button>
  </ion-toolbar>
</ion-footer>