<ion-content>
  <div>
    <form [formGroup]="registerForm" (ngSubmit)="processRegister()">
      <ion-item>
        <ion-input formControlName="emailId" type="text" class=text-input placeholder="Email Id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="fullName" type="text" class=text-input placeholder="Full Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="phoneNumber" type="text" class=text-input placeholder="Phone Number"></ion-input>
      </ion-item>

      <ion-button no-margin type="submit" expand="block" [disabled]="!registerForm.valid" strong="true">REGISTER</ion-button>
    </form>
  </div>
</ion-content>