<ion-list>
  <!-- <ion-item>
    {{beverageItem.beverageName}} X {{beverageItem.quantity}}
    <ion-button slot="end" (click)="deleteItem(beverageItem.beverageId)">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-item> -->

  <ion-item>
    <ion-avatar slot="start" size="large">
      <img [src]="beverageItem.bannerImageUrl">
    </ion-avatar>
    <ion-label>
      <h3 style="font-family: 'Montserrat Regular'">{{beverageItem.beverageName}}</h3>
      <p style="font-family: 'Montserrat Regular'"> Quantity: {{beverageItem.quantity}}</p>
    </ion-label>
    <!-- <ion-button slot="end" (click)="deleteItem(beverageItem.beverageId)" fill="outline"></ion-button> -->
    <ion-icon name="close-circle-outline" (click)="deleteItem(beverageItem.beverageId)" color="danger"></ion-icon>
  </ion-item>

</ion-list>